body {
    background-color: #0f0916;
    color: aliceblue;
    font-family: 'Source Code Pro';
    margin-top: 2%;
    margin-left: 2%;
}
div{
    color:rosybrown;
}
textarea{
    background-color:none;
}